<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>social network</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> <!-- for favicon.ico bug -->
    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
</head>
<body>
<nav>
    <a id='navbar_brand' href="{% url 'wall' %}">Social Network</a>
    <form id="navbar_search_form" method="get" action="{% url 'search' %}">
        <input id="navbar_search_input" class="navbar_search" type="search" name="search"
               placeholder="Search for users" aria-label="Search">
        <button id="navbar_search_button" class="navbar_search" type="submit">Search</button>
    </form>
    <ul id="navbar_center_list" class="navbar_list">
        <li id="navbar_profile_page">
            <a class="navbar_link" href="{% url 'profile' id=auth_profile_user.user.id %}">
                <img class="profile_picture" src="{{ auth_profile_user.profile_picture.url }}" alt="Image not found">
                {{ auth_profile_user.user.first_name  }}</a>
        </li>
        <li id="navbar_friend_requests">
            <a class="navbar_link" href="{% url 'friend_requests' %}">friend requests</a>
        </li>
        <li id="navbar_messages">
            <a class="navbar_link" href="#">messages</a>
        </li>
        <li id="navbar_notifications">
            <a class="navbar_link" href="#">notifications</a>
        </li>
    </ul>
    <ul id="navbar_right_list" class="navbar_list">
        <li id="navbar_logout">
            <a class="navbar_link" href="{% url 'logout' %}">logout</a>
        </li>
        <li id="navbar_settings">
            <a class="navbar_link" href="{% url 'settings' %}">settings</a>
        </li>
        <li id="navbar_admin">
            <a class="navbar_link" href="{% url 'admin:index' %}">admin</a>
        </li>
    </ul>
</nav>
<div id="wall_block_container">
    {% block wall_block %}
    {% endblock %}
</div>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/my_js.js' %}"></script>


</body>
</html>