<!--
data for this template
-comment
-->
<div class="comment" id="comment-{{ comment.id }}">
    {#     Author info section#}
    <div>
        <a class="profile_anchor" href="{% url 'profile' id=comment.author.user.id %}">
            <img class="profile_picture" src="{{ comment.author.profile_picture.url }}" alt="Image not found">
        </a>
    </div>
    <div>
        <div>
            <a class="profile_anchor" href="{% url 'profile' id=comment.author.user.id %}">
                <p class="comment-user_name">{{ comment.author }}</p>
            </a>
        </div>
        {#    Comment text section#}
        <div>
            <p id="text-comment-{{ comment.id }}" class="comment_text">{{ comment.text }}</p>
        </div>
    </div>
    {#    comment actions section#}
    <div>
        {#        like#}
        {#        reply#}
        {#        likes list#}
    </div>
    {% include 'app/options_button.html' with type='comment' id=comment.id %}
</div>