{% load static %}

<!--
data for this template
-author
-comment

-->

<div class="container" style="margin: 10px; background-color: rgba(134,131,131,0.65);">
{#     Author info section#}
    <div>
        <a id="user_prof_anchor" href="{% url 'profile' id=author.user.id %}">
            <img id="user_prof_img" src="{{ author.profile_picture.url }}" alt="Image not found">
        </a>
        <a href="{% url 'profile' id=author.user.id %}">
            <p id="user_name">{{ author }}</p>
        </a>
    </div>
{#    Comment text section#}
    <div>
        <p>{{ comment.0.text }}</p>
    </div>
{#    comment actions section#}
    <div>
{#        like#}
{#        reply#}
{#        likes list#}
    </div>

</div>







