<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>social network</title>
    <link rel="stylesheet" type="text/css" href='{% static "css/gallery.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/styles.css" %}'>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> <!-- for favicon.ico bug -->
</head>
<body>
<div class="gallery_block">
    <div class='image_block'>
        <img id="image" src="{{ image.image.url }}" alt='image not found'>
        <button type='button' id="gallery-exit_button" onclick='gallery_exit({{ auth_profile_user.user.id }})'>exit</button>
        {% if left_image %}
            <a class="gallery_button left" href="{% url 'gallery' image_id=left_image.id %}">left</a>
            {% endif %}
        {% if right_image %}
            <a class="gallery_button right" href="{% url 'gallery' image_id=right_image.id %}">right</a>
            {% endif %}
    </div>
    {#image info and comments#}
    <div class="info-comment_block">
{#      INFO SECTION#}
        <div class="info_section">
            <div class="author_and_published">
                <a class='profile_anchor' id="author_prof_anchor" href="{% url 'profile' id=author.user.id %}">
                    <img id="author_prof_img" src="{{ author.profile_picture.url }}" alt="Image not found">
                </a>
                <div class="name_and_published">
                    <a class='profile_anchor' href="{% url 'profile' id=author.user.id %}">
                        <p id="author_name">{{ author }}</p>
                    </a>
                    <p id="img_published">{{ image.published }}</p>
                </div>
            </div>
            {% include 'app/options_button.html' with type='image' id=image.id %}
        </div>
{#         BUTTONS AND LIKES SECTION#}
        <div>
            <div id="like-button-image-{{ image.id }}">
                {% if like %}
                    <button class='like_button unlike' id="like_button-image-{{ image.id }}"
                            onclick="likeButton('image', {{ image.id }}, 'unlike')">unlike</button>
                {% else %}
                    <button class='like_button like' id="like_button-image-{{ image.id }}"
                            onclick="likeButton('image', {{ image.id }}, 'like')">like</button>
                {% endif %}
            </div>
            <div id="likes_counter_section_image-{{ image.id }}" class="likes_counter_section">
                {% if likes != 0 %}
                    <p id="likes_counter-image-{{ image.id }}" class="likes_counter">{{ likes }} people like this</p>
                {% endif %}
            </div>
        </div>
{#                COMMENTS SECTION#}
        <div id="comments_section-image-{{ image.id }}">
{#                        COMMENTS LIST#}
            <div id="comments_list-image-{{ image.id }}">
                {% for comment in comments%}
                    <div>
                        {% include 'app/comment.html' %}
                    </div>
                {% endfor %}
            </div>
{#                    NEW COMMENT SECTION#}
            {% include 'app/new_comment_section.html' with type='image' id=image.id %}
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
<script>
    {% if right_image %}
        let right = {{ right_image }};
    {% endif %}
    {% if left_image %}
        let left = {{ left_image }};
    {% endif %}
</script>
<script>let pre_gallery_url = "{% url 'pre_gallery_url' %}";
let like_url = "{% url 'like' %}";
let comment_url = "{% url 'comment' %}";
let delete_url = "{% url 'delete' 'type' 2137 %}";
let edit_url = {% url 'edit' %};
if (typeof csrf_token === 'undefined') {
    var csrf_token = '{{ csrf_token }}'
}
</script>
<script src="{% static 'js/my_js.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/gallery.js' %}"></script>
</body>
</html>