{% load static %}

<div class="wall_item">
    <div class="post" id="post-{{ post_data.post.id }}">
        <!--{# AUTHOR AND POST INFO SECTION #}-->
        <div class="info_section">
            <div class="author_and_published">
                <a class='profile_anchor' href="{% url 'profile' id=post_data.profile.user.id %}">
                    <img class="profile_picture"
                         src="{{ post_data.profile.profile_picture.url }}" alt="Image not found"></a>
                <div class="name_and_published">
                    <a class="profile_anchor" href="{% url 'profile' id=post_data.profile.user.id %}">
                        <p class="author_name">{{ post_data.profile }}</p>
                    </a>
                    <p class="published">{{ post_data.published }}</p>
                </div>
            </div>
            {% include 'app/options_button.html' %}
        </div>
        <!-- {# TEXT SECTION #}-->
        <div class="text_section">
            <article id="text-post-{{ post_data.post.id }}" class="text">{{ post_data.post.text }}</article>
        </div>
        <!--{# IMAGES SECTION #}-->
        <div class="post-images_section">
            {% for image in post_data.images %}
                <a class="gallery_link" onclick="gallery_link({{ auth_profile_user.user.id }})"
                   href="{% url 'gallery' image_id=image.id %}">
                    <img class="image" src="{{ image.image.url }}" alt="Image not found">
                </a>
            {% endfor %}
        </div>
        <!--{# LIKES SECTION#}-->
        <div class="likes_section">
            {% if post_data.like %}
                <button class='like_button unlike' id="like_button-post-{{ post_data.post.id }}"
                        onclick="likeButton('post', {{ post_data.post.id }})" type="button">unlike</button>
            {% else %}
                <button class='like_button like' id="like_button-post-{{ post_data.post.id }}"
                        onclick="likeButton('post', {{ post_data.post.id }})" type="button">like</button>
            {% endif %}
            <div id="likes_counter_section_post-{{ post_data.post.id }}" class="likes_counter_section">
                {% if post_data.likes != 0 %}
                    <p id="likes_counter-post-{{ post_data.post.id }}" class="likes_counter">{{ post_data.likes }} people like this</p>
                {% endif %}
            </div>
        </div>
        <!--{# COMMENTS SECTION#}-->
        <div class="comments_section" id="comments_section-post-{{ post_data.post.id }}">
            <!--    {# COMMENTS LIST#}-->
            <div id="comments_list-post-{{ post_data.post.id }}">
                {% for comment in post_data.comments%}
                    {% include 'app/comment.html' %}
                {% endfor %}
            </div>
            <!--    {# NEW COMMENT SECTION#}-->
            {% include 'app/new_comment_section.html' with type='post' id=post_data.post.id %}
        </div>
    </div>
</div>


