{% extends 'app/base_app.html' %}

{% block wall_block %}

    <div style="text-align: center">
        <img src="{{ profile_user.profile_picture.url }}" style="height: 200px; width: 200px; object-fit: cover;
        border-radius: 10%" alt="Image not Found">
        <h2>{{ profile_user.user.first_name }} {{ profile_user.user.last_name }}</h2>
        {% if status != "auth" %}
            <form method="POST" action="{% url 'profile' id=profile_user.user.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark">
                    {% if status == 'friend' %}
                        unfriend
                    {% elif status == "sended_request" %}
                        cancel friend request
                    {% elif status == "received_request" %}
                        accept friend request
                    {% elif status == 'unknown' %}
                        send friend request
                    {% endif %}
                </button>
            </form>
        {% endif %}
        <br>
        <br>
    </div>

    {% include 'app/posts_list.html' with posts=profile_posts %}




{% endblock %}
