{% extends 'app/base_app.html' %}
{% load static %}
{% block wall_block %}
    <div class="wall_item profile_page_section">
        {% if profile_image_id %}
            <a class="gallery-link" onclick="gallery_link({{ auth_profile_user.user.id }})"
           href="{% url 'gallery' image_id=profile_image_id %}">
        {% endif %}
            <img class="profile_picture" src="{{ visited_user.profile_picture.url }}" alt="Image not Found">
        {% if profile_image_id %}
        </a>
        {% endif %}
        <p class="name">{{ visited_user.user.first_name }} {{ visited_user.user.last_name }}</p>
        {% if status != "self" %}
            <button class="friendship_button sn_btn"
                    onclick="friendshipButton({{ auth_profile_user.user.id }},{{ visited_user.user.id }})">
                {{ button_action }}</button>
        {% endif %}
    </div>
    {% include 'app/posts_list.html' with posts=profile_posts %}
    <script>
        $(document).ready(function(){
            window.scrollTo(0, {{ scrollY }})
        });
        let friendship_button_url = '{% url 'friendship_button' %}'
    </script>
{% endblock %}
