{% extends 'app/base_app.html' %}
{% block wall_block %}

<div class="wall_item">
    <p class="search_page_title">search results for "{{ phrase }}"</p>
</div>
{% for profile in results_profiles %}
    <div class="wall_item search_result">
        <a class="profile_anchor" href="{% url 'profile' id=profile.user.id %}">
            <img src="{{ profile.profile_picture.url }}" class="profile_picture" alt="Image not found">
            <h4>{{ profile.user.first_name }} {{ profile.user.last_name }}</h4>
        </a>
    </div>
{% endfor %}
{% endblock %}