{% extends 'app/base_app.html' %}
{% load crispy_forms_filters %}

{% block wall_block %}

    <script>
        $(document).ready(function(){
            window.scrollTo(0, {{ scrollY }})
        });
    </script>

    <div class="jumbotron" style="padding: 10px">
        <h4>add new post</h4>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-9">
{#                    {{ form|crispy }}#}
                    {{ form.as_p }}
                </div>
                <div class="col-3">
                    <input class="btn btn-dark" type="submit" value="post">
                </div>
            </div>
        </form>
    </div>






{% endblock %}