{% extends 'app/base_app.html' %}

{% block wall_block %}

    <div class="wall_item">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="new_post_form-div">
                {{ form }}
                <input id='new_post_form-submit' class="sn_btn" type="submit" value="post">
            </div>
        </form>
    </div>
    {% include 'app/posts_list.html' with posts=wall_posts %}

    <script defer>
        $(document).ready(function(){
            window.scrollTo(0, {{ scrollY }})
        });
    </script>
{% endblock %}