
body{
    background: #8b8686;
}
#navbar {
    line-height: 40px;
    padding-bottom: 0;
    padding-top: 0;
}
#nav_profile_anchor {
    text-align: center;
    /*to jest chyba useless*/
}
#nav_profile_img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10%;
}
#wall_block_container {
    padding: 0;
}
#wall_block {
    background: #cbc8c8;
    padding: 30px;
}


