html, body {
    height: 100%;
}
.gallery_block {
    height: 100%;
    background: black;
    width: 100%;
    display: flex;
    align-items: center;
    /*overflow: hidden;*/
}
.image_block {
    position: relative;
    height: 100%;
    flex-basis: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#image {
    max-height: 100vh;
    max-width: 100vh;
    object-fit: contain;
}
#gallery-exit_button {
    position: absolute;
    top: 4%;
    left: 3%;
    font-weight: bold;
    padding: 6px;
    color: white;
    background-color: #58595B;
    border: 2px solid white;
    border-radius: 10%;
    font-size: 20px;
}
#gallery-exit_button:hover {
    color: black;
    border-color: black;
    background-color: white;
}
#gallery-exit_button:active {
    border-color: white;
}
.gallery_button {
    position: absolute;
    bottom: 50%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10%;
    background-color: black;
    text-decoration: none;
    padding: 8px;
    color: white;
    border: 2px solid white;
}
.gallery_button:hover {
    background-color: white;
    color: black;
}
.gallery_button:active {
    border-color: black;
}
.gallery_button.right {
    right: 50px;
}
.gallery_button.left {
    left: 50px;
}
.info-comment_block {
    position: relative;
    height: 100%;
    flex-basis: 30%;
    background-color: #808285;
    padding: 20px;
    box-sizing: border-box;
}
.gallery_block .info_section {
    display: flex;
    margin-bottom: 10px;
}
.gallery_block .author_and_published {
    display: flex;
}
.gallery_block .name_and_published {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#author_prof_img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10%;
    float: left;
    margin-right: 6px;
}
#author_name {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}
#img_published {
    margin: 0;
    font-size: 12px;
}