#main_block {
    height: 100vh;
    background: black;
    width: 100%;
}
#image_block {
    text-align: center;
    vertical-align: middle;
}
#image {
    max-height: 100vh;
    max-width: 100vh;
    object-fit: contain;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#gallery_exit_button {
    position: absolute;
    bottom: 90%;
    left: 50px;
}
#left_button {
    position: absolute;
    bottom: 50%;
    left: 50px;
    font-weight: bold;
}
#right_button {
    position: absolute;
    bottom: 50%;
    right: 50px;
    font-weight: bold;
}
#info-comment_block {
    height: 100%;
}
#info-comment_jumbotron {
    height: 95vh;
    padding: 14px;
    margin: 10px;
}
#info_block {
    margin-bottom: 40px;
}
.author_prof_anchor {
    color: inherit;
}
#author_prof_img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10%;
    float: left;
    margin-right: 6px;
}
#author_name {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}
#img_published {
    margin: 0;
    font-size: 12px;
}