#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  flex-direction: column;
  justify-content: center;
}

/* Modal Content/Box */
.modal-box {
  position: relative;
  background-color: #525050;
  margin: auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  /*width: 50%;*/
  border-radius: 15px;
  color: white;
}
.modal-header {
  display: flex;
  justify-content: center;
}
.modal-title {
  font-size: 30px;
  margin: 10px;
}
/* The Close Button */
#modal-close {
  color: #aaa;
  font-size: 38px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 8px;
}
#modal-close:hover,
#modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content {
  margin: 6px;
  display: flex;
  flex-direction: column;
}
.modal-buttons {
  display: flex;
  justify-content: space-around;
}
.modal-button {
  font-size: 22px;
  border-radius: 10px;
  border: 1px solid white;
  margin: 8px;
}
.modal-button.cancel {
  background-color: #525050;
  border-color: #525050;
  color: white;
}
.modal-button.cancel:hover {
  background-color: #808285;
}
.modal-button.confirm {
  background-color: white;
  color: #525050;
}






.options_inner_div {
    width: 30px;
    height: 30px;
    background-image: radial-gradient(circle, white 3px, transparent 4px);
    background-size: 100% 33.33%;
}
.options_inner_div:hover {
  background-image: radial-gradient(circle, #808285 3px, transparent 4px);
}
.options_button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0;
}
.options_button:hover {
  background-color: white;
  border-color: white;
}
.options_button:active {
  border-color: #808285;
}
.options_outer_div {
  margin-left: auto;
  align-self: center;
  position: relative;
}
.popover {
  background-color: #525050;
  position: absolute;
  top: 27px;
  right: 27px;
  display: none;
  border: 2px solid white;
  border-radius: 10px;
  flex-direction: column;
  padding: 20px;
}
.popover_button {
  white-space: nowrap;
  background-color: #525050;
  color: white;
  font-size: 20px;
  outline: none;
  border: 1px solid white;
  border-radius: 6px;
  margin: 4px;
}
.popover_button:hover {
  background-color: #808285;
}
.popover_button:active {
  border-color: #808285;
}
.edit_textarea {
  padding: 8px;
  font-size: 18px;
  margin: 8px;
  width: 400px;
}



