
/*NAVBAR*/
nav {
    overflow: hidden;
    background-color: #808285;
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #231F20;
}
#navbar_brand {
    font-size: 20px;
    color: white;
    transition: color .8s;
}
#navbar_brand:hover {
    color: #1771F1;
}
#navbar_search_form {
    margin: 0 20px;
    display: flex;
}
.navbar_search {
    border: 0;
    border-radius: 4px;
    outline: none;
    height: 30px;
    font-size: 14px;
    background-color: white;
    margin: 0 2px;
}
#navbar_search_input {
    padding: 0 10px;
}
#navbar_search_button {
    background-color: #808285;
    color: white;
    border: 1px solid white;
}
#navbar_search_button:hover {
    background-color: white;
    color: #808285;
    border-color: #808285;
}
#navbar_search_button:active {
    border-color: white;
}
#navbar_search_input:focus {
    border: 2px solid #1771F1;
}
.navbar_list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
.navbar_link {
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    margin: 4px 10px;
}
.navbar_link:hover {
    color: #BCBEC0;
}
.navbar_link .profile_picture {
    width: 34px;
    height: 34px;
}